@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>ALL Employee</h1>
<br />
<div>
    <a asp-action="Create" class="btn btn-primary">Add Employee</a>
</div>
<br />

<div class="card shadow mb-4 text-center">
    <div class="card-body">
        <div class="table-responsive">
            <table class="" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text text-center">Name</th>
                        <th class ="text text-center">Age</th>
                        <th class="text text-center">Hire Date</th>
                        <th class="text text-center">Department</th>
                        <th class="text text-center">Address</th>
                        <th class="text text-center">Salary</th>
                        <th class="text text-center">Email</th>
                        <th class="text text-center">IsActive</th>
                        <th class="text text-center">Phone Number</th>

                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Age</td>
                            <td>@item.HireDate</td>
                            <td>@item.Department?.Name</td>
                            <td>@item.Address</td>
                            <td>@Html.DisplayFor(M=>item.Salary)</td>
                            <td>@Html.DisplayFor(M=>item.Email)</td>
                            <td>
                                <label class="switch">
                                    <input id="status_button" onclick="changeStatus(@item.Id)" type="checkbox" @(item.IsActive ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>@item.PhoneNumber</td>
                            
                            <td><a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-eye"></i></a></td>
                            <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-edit"></i></a></td>
                            <td><a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                        </tr>


                    }


                </tbody>



            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(



            );
        });
    </script>
    <script>
        function changeStatus(id) {
            $.ajax({
                url: `/Employee/changeState/${id}`,
                method: 'GET',
                success: function () {
                    console.log("Sucess");

                },
                error: function () {
                    console.log("Error");

                }
            });
        }
    </script>

}
